{% extends 'index/base.html' %}
{% block title %}
Вход
{% endblock title %}
{% block content %}
      <div class="row">
        <h2 class="text">Log In</h2>
      </div>
      <div class="row">
        {% if form.errors %}
        <p class="text">Неправильный логин или пароль</p>
        {% endif %}
        <form action="{% url 'accounts:log-in' %}" method="post">
          <br>
          {{form.as_p}}
          {%csrf_token%}
          <input type="hidden" name="next" value="{{next}}"/>
          <p><input type="submit" value="Войти" class="btn btn-primary"></p>
        </form>
      </div>
{% endblock content %}


