{% extends 'index/base.html' %}
{% load static %}
{% block title %}
PythonForDumbs
{% endblock title %}
{% block content %}
				<div class="row justify-content-center pt-4">
					<h1 class="text">Учите Питон здесь и сейчас</h1>
					<h4 class="text-small">PythonForDumbs - это бесплатный онлайн курс обучения программированию на Python</h4>
					<img src="{%static 'images/hello_world.png'%}" alt="" class="img-fluid">
				</div>
				<div class="row">
					<div class="col-md-4">
						<h4 class="text-strong">Не нужно ничего скачивать</h4>
						<p class="text">С PythonForDumbs можно работать прямо из браузера, не парясь об установке всего софта на компьютер</p>
					</div>
					<div class="col-md-4">
						<h4 class="text-strong">Много практики</h4>
						<p class="text">После прохождения урока можно закрепить знания пройдя тест или решив задачу. Когда вы решите её, мы покажем вам решения других людей и решение создателей</p>
					</div>
					<div class="col-md-3">
						<h4 class="text-strong">Контроль учителя</h4>
						<p class="text">Ваш учитель может сам составлять для вас тесты и проверять задачи.</p>
					</div>
				</div>
			</div>
{% endblock content %}
